@import "mixins";

.half-screen-height {
  height: $half-screen-height;
}

.full-screen-height {
  height: $full-screen-height;
}

.hidden {
  display: none !important;
}

.fixed {

  &.navbar {
    @include lg {
      height: 5.5em !important;
      background-color: hsl(347, 49%, 18%, 1) !important;
    }
  }

}

.transparent {
  opacity: 0;
}

.disabled {
  pointer-events: none !important;
  cursor: not-allowed;
  //opacity: 0.3;
}

.fadeInOutAnimation {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.section-header {
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  color: $secondary;
  font-weight: bolder;
  margin-bottom: 1.5em;
}

.section-header__small {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  color: $secondary;
  margin-bottom: 1.5em;
}

.section-header-black__small {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  color: $primary;
  margin-bottom: 1.5em;
}

.header-text-black {
  color: $primary;
  font-weight: bolder;
  font-size: 2rem;
  display: grid;
}

.bg-white {
  background-color: $white !important;
}

.invalid {
  border: 2px solid crimson;
  animation: shake 0.1s;
}

.background__images {
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: multiply;

  &-order {
    border-top: $primary solid 3px;
    background-image: url("@/assets/img/order.jpg");

    @include md {
      background-position: 0 -300px;
    }
  }

  &-hot-food {
    background-image: url("@/assets/img/breakfast.jpg");

    @include md {
      background-position: 0 -500px;
    }
  }

  &-extras {
    background-image: url("@/assets/img/paninis.jpg");

    @include md {
      background-position: 0 -300px;
    }
  }

  &-cakes-and-sweets {
    background-image: url("@/assets/img/cakes.jpg");

    @include md {
      background-position: 0 -300px;
    }
  }

  &-drinks {
    background-image: url("@/assets/img/hotchocolate.jpg");

    @include md {
      background-position: 0 -300px;
    }
  }
}

.has-step-orange::after {
  background: $secondary !important;


}

li {
  &:last-child {
    display: none !important;
  }
}

.cardBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("@/assets/img/order.jpg") !important;
  background-size: cover !important;
  background-color: hsla(1, 2%, 61%, 1) !important;
  background-blend-mode: multiply !important;
  color: $white-brighter !important;
}