$primary: hsla(345, 99%, 20%, 1);
$primary-lighter: hsla(345, 99%, 33%, 1);
//$secondary: hsla(28, 98%, 48%, 1);
$secondary: #ffffff;
$white: #dcdcdc;
$off-white: #fcfcfb;
$grey-calmer: #c4c4c4;
$white-brighter: #f5f5f5;
$black: #000000;
$select: #00A300;

$full-screen-height: 100vh;
$half-screen-height: 50vh;

$full-screen-width: 100vw;
$half-screen-width: 50vw;

